.portfolio-project {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-project__description {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-project__link {
  display: block;
  cursor: pointer;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-project__item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-project__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-project__item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-project__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-project__type {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}

.portfolio-project__wrap {
  position: relative;
  overflow: hidden;
}
.portfolio-project__link:hover .portfolio-project__toptext {
  transform: translateY(0);
}

.portfolio-project__toptext {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--main-background-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms linear;
}
