.teamplayers {
  background-color: var(--tertiary-white-background);
  text-align: center;
}

.teamplayers__link--socials {
  width: 44px;
  height: 44px;
  background-color: var(--main-background-color);
  border-radius: 50%;
  @extend %flex-center;

  transition-property: background-color;

  @extend %transition;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    cursor: pointer;
  }
}

.teamplayers__list--socials {
  display: flex;
  justify-content: center;
}

.teamplayers__icon--socials {
  fill: #afb1b8;

  transition-property: fill;

  @extend %transition;

  .teamplayers__link--socials:hover &,
  .teamplayers__link--socials:focus & {
    fill: var(--main-background-color);
  }
}

.teamplayers__profile {
  padding-top: 30px;
  padding-bottom: 30px;
}

.teamplayers__item {
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  margin-right: 30px;

  & + & {
    margin-left: 10px;
  }

  &:nth-child(4n) {
    margin-right: 0;
  }
}

.teamplayers__list {
  display: flex;
}

.teamplayer__name {
  color: var(--title-text-color);
  font-weight: 500;
  margin-bottom: 10px;
  @extend %teamset;
}

.teamplayer__position {
  color: var(--primary-text-color);
  margin-bottom: 16px;
  @extend %teamset;
}
